@media (min-width: 300px) and (max-width: 720px) {
    .img__add{
        margin: 0 5vw;
        width: 90% ;
    
    }
    header nav ul li{
        color: #ED6990;
        background-color: white;
    padding: 2vh 1.5vw;
    letter-spacing: 0em;
    text-align: left;
    
    
    }
    .nav__mass a{
        text-decoration: none;
        color: black;
        
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

    
        
    }
    .q__sec aside{
        animation: 1s appearing 1;
        padding-left: 10%;
        width: 90%;
        display: none;
        
        
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        
    
    }
    .q__sec div{
    
        border-radius: 5px 0px 0px 5px;
        box-shadow: 0px 0px 20px 3px rgba(237, 105, 144, 0.1);
      
    
    
      
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        
    
    
    border-left: 6px solid #ED6990;
        width: 95%;
        margin:25px ;
    }
    .block8 h1{

    
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
        padding-top: 50px;
        }
    
.block7 p{

    color: rgba(0, 0, 0, 0.45); ;
    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    
    padding-bottom: 46px;
}
    .block7 h1{
        
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        padding-bottom: 10px;
        }
    .coment__img h1{
  
       margin: 50px 0 20px 25px;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        
        
    }
    .user{
        padding: 16px 20px 23px 17px;
        
    }
    .user>p{
        
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        

        
    }
    
    .coment__text h2{
   
       
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        
        
        }
    .user__info>p{
   
        
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        
        
        }
    .user__ava img{
        width: 54px;
        height: 54px;
    margin-right: 20px;
    border-radius: 50%;
    }
    .coment__text h1{
    
      
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        
        padding-bottom:10px ;
        
    }
    
    .block5 a{
           
    
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        
    color: black;

}
    .block5 h1{
        padding-top: 50px;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
        
        }
    .about__text{
        width: 80%;
        padding-left: 15px;
    }
    .text__sec>div>div>div>p{
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
       
        
    
    }
    .text__sec h2{
   
        color: #ED6990;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        
         
     
     }
    .cir2{ display: flex;
        flex-direction: column;
        justify-content: center; 
        margin: 0 auto;
      
        border-radius: 50%;
     
        max-height:   48px;
        max-width:   48px;
        min-width:  48px;
        min-height:  48px;
        background: rgba(237, 105, 144, 0.2);
    }
    .cir1{
        /* margin-right: 30px; */
        display: flex;
       flex-direction: column;
       justify-content: center;
       border-radius: 50%;
       max-height: 72px;
    max-width: 72px;
    min-width:72px;
    min-height:72px;
    background: rgba(237, 105, 144, 0.2);
    
    }
    
.text__sec h1{
  
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 32px;
letter-spacing: 0em;
text-align: left;

    margin-bottom: 20px;


}
    .text p{  
        
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        
    }
    
    .text h1{

      padding: 15px 0 5px 0;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;

        
        }
    .block2 h1{
        margin-top: 81px;
        margin-bottom: 25px;
        margin: 30px 0 10px 20px;
       
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        
        
    
    
    }
    .block__add{
       
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        
        width: 30%;
        }
    .text__section>p{
        padding:20px 0 ;
      
        
      
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;

        
    
    }
    .text__section h1{
        padding: 20px 0 10px 0;
     
        color: #ED6990;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        
    
    }
    .input__order{
        width: 100%;
    }
    #del__order{

        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        padding: 30px 0 0  60vw;
        /* position: absolute; */
        cursor:pointer;
        color: #FF4141;
        }
    .order__right p{
        padding: 13px 0 30px 20px;
      
        
      
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        
    
    }
    
.order__right{
    width: 100%;
}
    .order__right button{
        
        width: 90%;
        border: none;
        text-decoration: none;
        color: white;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 5%;
        padding: 15px 0;
        text-align: center;
        background-color: #ED6990;
       
    }
    
    .order__buy{
        width: 100%;
display: block;
    }
    .img__order div p{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        
    }
    .img__order div h2 {
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
padding: 0 0 5px 0;
 }
    .order__wrapper h1{
    
        
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
        padding: 30px 0 27px 23px ;
    }
    .input__order input{
        margin: 5px 5px 5px 29px;
        background-color: #F9F9F9; ;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        
        border: none;
        width: 85%;
        height: 40px;
        
    }
    .order__item{
        width: 100%;
        
    }
    .order__wrapper{
        
        width: 95%;
        padding: 0;}

    .order__flex{
display: block;
    }
    #del__phone{
        /* padding: 45px 0 0 53.5px; */
        /* position: absolute; */
        cursor:pointer;
        color: #FF4141;
    }
    .ph__ph button{
        border: none;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
        text-decoration: none;
        color: white;
    
        padding: 2em 0;
        text-align: center;
        background-color: #ED6990;
        width: 100%;
    }
    .get__phonesection{
        display: block;
    }
    .ph__ph input{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 0;
        background-color: #F9F9F9; ;
        
        border: none;
        height: 72px;
        width: 100%;
    }
    .phone__more{
        display: block;
      
    }
    #phone__section div p{
        
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        
        
    }
    #phone__section div h1{
    
        
       
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        
    }

    .q__ph{
        height: 45vh;
        padding: 20px 20px 20px 20px;
        width: 100%;
    }
    .ph__ph{
        height: 50vh;
        padding: 20px 20px 20px 20px;
        width: 100%;}
    #phone__section section{
   
        display: block;
        width: 95%;}
    img[alt="pngegg10"]{
        width: 100%;
        position: absolute; 
        z-index: -2;
    }
    img[alt="Group21"]{
        width: 140px;
        position: absolute; z-index: -1;
    }
    img[alt="image1"]{
        width: 100%;
        position: absolute; z-index: -3
    }
    img[alt="pngegg9"]{
        width: 250px;
        padding-right: 100px;
    }
    .nav__chats li img{
        
        margin-right:13px;
    padding:5px;
        
        max-width: 48px;
        max-height: 48px;
        width:20vw ;
        height: 20vw;}
    .nav__mass li{
        width: 25vw;}
    .mass__mam{
        padding-bottom: 20px;
        display: block;
    }
    footer nav{
        padding:50px 0 37px 26px;
        display: block;}
    .q__sec{
        max-width: 95%;
    }
    .q__mam{
    
        display: block;}
    .block8{
    
        width: 95%;}
    
    .time{width: 100%;
        padding: 125px 0 20px 0 ;}
    .block7{
        width: 95%;
        display: block;
    }
    .coment__img{width: 100%;}
    .coment__text{
        width: 100%;
    }
    .block6{display: block;
        margin: 50px auto;
    width:95vw;}
    .img__mam img{
        width: 30%;
        padding: 2.5px;   
    }
    .block5{
        width: 95%;
    }
 
    .text__sec{
        width: 100%;
    }
    .img__sec{  display: none; }
    .block3 section img{
        width: 100%;
     }
    .info ol li {width: 100%;}
    .info ol {
        margin-top:62px ;
    margin-bottom: 75px;
        display: block;
    }

    .block3 section{
        display: block;}
    .block__item {
        width: 100%;
    }
    .item__mam{
        display: block;
    }
    .phone {
        display: none;
    }
    #phone__phone {
        border: none;
        background: none;
        color: #ED6990;

        display: block;
        width: 50%;
        height: 15vw;
font-size: 35px;
    }
    header nav ul {
        display: none;
    }
    .img__section {
        display: none;
        width: 100%;
    }
    .text__section {
        
        width: 100%;
    }
    #phone__menu {
        border: none;
        background: none;
        color: #ED6990;

        display: block;
        width: 50%;
        height: 15vw;
font-size: 35px;
    }
}